*, *::before, *::after{
    box-sizing: border-box; /*Standard CSS practice*/
}

/* roboto-slab-100 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 100;
    src: url('../assets/RobotoSlab/roboto-slab-v34-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/RobotoSlab/roboto-slab-v34-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/RobotoSlab/roboto-slab-v34-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/RobotoSlab/roboto-slab-v34-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/RobotoSlab/roboto-slab-v34-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/RobotoSlab/roboto-slab-v34-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/RobotoSlab/roboto-slab-v34-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/RobotoSlab/roboto-slab-v34-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body{
    background-color: black;
    overflow: hidden;
}

/*Map*/
.mainMap{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.mapCanvas{
    height:auto;
    width: 100vw;
    transition: width 0.3s;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mapCanvas.part{
    width: calc(100vw - 475px - 80px);
}

/*FLOATING PANELS*/
.specimenPanel {
    position: fixed;
    top: 0;
    left: 100vw; /* Initially hidden */
    width: 475px;
    height: 100%;
    background: #3498db;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease-in-out;
    margin: 0;
    padding: 0;
}

.specimenPanel.open {
    left: calc(100vw - 475px - 80px); /* Slide in */
}


.evolutionPanelWrapper {
    position: fixed;
    top: 0;
    right: 80px;
    width: 800px;
    height: 100vh;
    color: white;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    transform: translate(100%, 0);
    background: white;

}

.evolutionPanelWrapper.open {
    transform: translate(0,0);
}


/*NAVIGATION BAR*/
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 80px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: calc(100vw - 80px);
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidenav div {
    padding: 6px 8px 6px 6px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    user-select: none;
    cursor: pointer;
    text-align: center;
}
.sidenav div:hover {
    color: #f1f1f1;
}

/* Library for the tree library */
.Treant { position: relative; overflow: hidden; padding: 0 !important; }
.Treant > .node,
.Treant > .pseudo { position: absolute; display: block; visibility: hidden; }
.Treant.loaded .node,
.Treant.loaded .pseudo { visibility: visible; }
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }
.Treant .collapse-switch { width: 3px; height: 3px; display: block; border: 1px solid black; position: absolute; top: 1px; right: 1px; cursor: pointer; }
.Treant .collapsed .collapse-switch { background-color: #868DEE; }
.Treant > .node img {	border: none; float: left; }

#phylogenyWrapper{
    font-family: "Roboto Slab", sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: black;
}

#phylogenyWrapper h1{
    text-align: center;
    font-weight: 900;
}

#phylogeny{
    font-weight: 400;
    color: black;
    flex: 1;
    width: 100%;
    overflow: auto;
    background: whitesmoke;
}

#phylogeny img{
    width: 40px;
    height: 40px;
    grid-area: image;
}

#phylogeny .marker{
    border-radius: 100%;
    background: red;
    width: 5px;
    height: 5px;
}

#phylogeny .node:not(.marker){
    display: grid;
    grid-template-areas:
        "image name"
        "image desc";
    column-gap: 5px;
    padding: 10px;
    background: white;
    border-radius: 10px;
}

#phylogeny .node-name{
    margin: 0;
    grid-area: name;
    font-weight: 600;
    line-height: 1;
}

#phylogeny .node.marker .node-name{
    position: relative;
    transform: translate(12px, -7px);
    color: red;
    font-weight: 900;
}

#phylogeny .node-title{
    margin: 0;
    grid-area: desc;
    font-size: 12px;
}

@media (max-width: 880px){
    .evolutionPanelWrapper{
        width: calc(100vw - 80px);
    }
}